<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>

<nav th:fragment="navigation">
    <ul class="nav nav-tabs" role="tablist">
        <li><a href="/home">Home</a></li>
        <li><a href="/home/add">Add Truck</a></li>
        <li><a href="/home/remove">Remove Truck</a></li>
        <li class="active"><a href="/user/add">Signup</a></li>
        <li><a href="/location/add">Location</a></li>
    </ul>
</nav>

<form method="post" style="max-width:600px;" th:object="${user}">
    <div class="form-group">
        <label for="username-field">Username:</label>
        <input class="form-control" id="username-field" type="text" name="username" th:value="${username}"/>

    </div>
    <div class="form-group">
        <label for="email-field">Email:</label>
        <input class="form-control" id="email-field" type="email" name="email" th:value="${email}"/>

    </div>
    <div class="form-group">
        <label for="password-field">Password:</label>
        <input class="form-control" id="password-field" type="password" name="password" />
    </div>
    <div class="form-group">
        <label for="verify-field">Verify:</label>
        <input class="form-control" id="verify-field" type="password" name="verify" />
        <span style="color : red" class="error" th:text="${message}"></span>
    </div>
    <input type="submit" class="btn btn-info btn-block" value="Sign Up" />
</form>

</body>
</html>