<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>${title}</title>

</head>
<body class="container">

<nav th:fragment="navigation">
    <ul class="nav nav-tabs" role="tablist">
        <li><a href="/home">Home</a></li>
        <li class="active"><a href="/home/add">Add Truck</a></li>
        <li><a href="/home/remove">Remove Truck</a></li>
        <li><a href="/user/add">Signup</a></li>
        <li><a href="/location/add">Location</a></li>
    </ul>
</nav>
<h1 th:text="'Hello, ' + ${user.username}"></h1>

</body>
</html>
