header {
    width: 100%;
    height: 8em;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 98;
    font-family: 'IM Fell English', serif;
    background: #6f7c5c;
}
body{
    font-family: sans-serif;
    background-color: #80b3ff;
}
table, th, td {
   border: 1px solid black;
   background-color: #f2f2f2;
}
