<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:fragment="navigation">
    <ul class="nav nav-tabs" role="tablist">
        <li><a href="/home">Home</a></li>
        <li><a href="/home/add">Add Truck</a></li>
        <li class="active"><a href="/home/remove">Remove Truck</a></li>
        <li><a href="/user/add">Signup</a></li>
        <li><a href="/location/add">Location</a></li>
    </ul>


</nav>

<form method="post" style="max-width:600px">

    <div th:each="truck : ${trucks}" class="checkbox">
        <input type="checkbox" name="truckIds" th:value="${truck.id}" th:id="${truck.id}"/>
        <label th:for="${truck.id}" th:text="${truck.name}"></label>
        <br />
    </div>

    <input type="submit" class="btn btn-info btn-block" value="Remove Truck" />
</form>

</body>
</html>